<article class="post">
  <div class="username">
    <p>{{user.username}}</p>
  </div>
  <div class="image">
    <img src="../../uploads/1643506747934IMG_1140.jpg" style="width: 200px; height:200px" >
  </div>
  <div class="caption">
     <p>{{caption}}</p>
  </div>
</article>

<script src="../../public/javascript/newsfeed.js"></script>
