<div class="newsfeed-wrapper container pt-2" style="width: 100%;">
    <ul class="post-list row justify-content-center" style="list-style-type:none;">
    {{#each posts as |post|}}
        <li class="mb-2">
            {{> post-info post }}
        </li>
    {{/each}}
    </ul>
</div>